<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AWSAccessKey" value="" />
    <add key="AWSSecretKey" value="" />
    <add key="AWSRegion" value="sa-east-1" />
    <add key="BucketOrigin" value="magnadev" />
    <add key="BucketDestination" value="magnadev-public" />
    <add key="KeyNameOrigin" value="clientA/data/groups/123/projects/9876543" />
    <add key="KeyNameDestination" value="clientA/data/groups/423/projects/9876543" /> 
    <add key="MoveFolder" value="true" />
    <add key="MultiThreadFileTransferring" value="true" />
    <add key="OverwriteDestinationFolder" value="true" /> 
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>